{{>header}}
{{>barra}}
<div class="contenedor">
    {{#if citasSinRevisar}}
    <main class="contenido-principal">
        <div class="listaCitas">
            <h1 class="headerTuanis mb-4 mt-4">Citas pendientes</h1>
            <div class="list-group mb-4">
                {{#each citasSinRevisar}}
                    <a href="#" id={{_id}} class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{nombre}} {{apellido}}</h5>
                            <small>{{fechaCreada}}</small>
                        </div>
                        <p class="mb-1">Fecha Deseada: {{fechaDeseada}}</p>
                        <small>{{numeroTelefonico}} - {{email}}</small>
                    </a> 
                {{/each}}
            </div>
        </div>
        {{else}}
        <main class="contenido-principal">
            <div style="width:42rem; display:block; margin: 0 auto;" class="jumbotron mt-4 p-4">
                <h1 class="display-4">Hola, {{user}}!</h1>
                <p class="lead mt-4">No hay citas pendientes, todas están agendadas o completadas.</p>
                <hr class="my-4">
                <p>Recuerda, aquí se mostrará una lista de las citas pendientes para revisar, buen día!</p>
            </div>
        {{/if}}
        </main>
</div>
<!--.contenedor-->
{{>footer}}
